html
  head
    title= `${title}`
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

body.b2
    div.container
        h3.text-center.mb-10 Booking Confirmed

        p Booking ID: #{data}
        br
        p *Keep this saved for future reference