html
  head
    title= `${title}`
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

body.b2
    div.container.text-center.mb-5
        h3.mb-10 #{title}

        div#links.row.justify-content-center.mb-5
          a.btn.btn-outline-primary.btn-large(href="/search") Search cars / Book Now
          a.btn.btn-outline-primary.btn-large(href="/cars") View all cars
          a.btn.btn-outline-primary.btn-large(href="/newcar") Add new car
          a.btn.btn-outline-primary.btn-large(href="/bookings") All bookings

        div#links.row.justify-content-center
          h5 Github Link:
            a(href = "https://github.com/chiragaggarwal99/whitepanda-backend-assignment" target="_blank") https://github.com/chiragaggarwal99/whitepanda-backend-assignment
        
              


